.bar-charge-container {
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 400px; 
    text-align: center; 
    z-index: 1;
    background-color: rgb(165, 165, 165);
  }
  
  .bar-charge {
    height: 20px; 
    background-color: blue; 
    position: relative; 
    border-radius: 5px;
  }
  
  .progress-text {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(13, 13, 13); 
    font-weight: bold; 
    z-index: 1;
  }

  .choisir-projet-text {
    position: absolute;
    z-index: 1;
    background-color: rgb(116, 247, 155);
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%; 
    left: 37%; 
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    font-family: Coda;
    animation: floating 2s ease-in-out infinite; 

    .fa-arrow-right{
        margin-left: 20px;
    }
  }

  @keyframes floating {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
  }