.competences-container{
  //background-color: #abcff3;//
  //background-color: #FFE4E1 ;//
  background-color:  linear-gradient(to top,rgba(255, 196, 141, 0) ,#ffd9b8 ); 
 

  padding-bottom: 40px;
}
.allmap-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  
}

.map-container-dev{
    text-align: center;
}

.image-container{
  position: relative;
}


.map-image{
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}
.circuit-image {
  width: 100%;
    max-width: 600px;
    position: absolute;
   bottom: 50px;
   z-index: -1;
}



.show-html-button {
    position: absolute;
    left: 20%;
    top: 12%;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }
 
  .show-html-button img {
    width: 60px; 
  }
 

  .show-css-button {
    position: absolute;
    left: 71%;
    top: 12%;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  } 
  
  .show-css-button img {
    width: 60px; 
  }
 

  .show-js-button {
    position: absolute;
    left: 45%;
    top: 40%;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }
  

  .show-js-button img {
    width: 60px; 
  }

  .show-node-button {
    position: absolute;
    left: 68%;
    top: 68%;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }
  
  .show-node-button img {
    width: 90px; 
  }



  .show-react-button {
    position: absolute;
    left: 17%;
    top: 68%;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }

  .show-react-button img {
    width: 80px; 
  }
  
