/* Cube.css (ou Cube.scss si vous utilisez Sass) */

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px; /* Crée l'effet de perspective */
    animation: rotateCube 10s linear infinite; /* Ajoute une animation de rotation */
  }
  
  @keyframes rotateCube {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  .cube-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d; /* Indique que les enfants seront en 3D */
    transition: transform 0.5s ease; /* Animation fluide */
  }
  
  .cube.clicked .cube-inner {
    transform: rotateX(180deg) rotateY(180deg); /* Effectue la rotation pour l'effet 3D */
  }
  
  .cube-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #000;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cube-front  { transform: translateZ(100px); }
  .cube-back   { transform: rotateY(180deg) translateZ(100px); }
  .cube-right  { transform: rotateY(90deg) translateZ(100px); }
  .cube-left   { transform: rotateY(-90deg) translateZ(100px); }
  .cube-top    { transform: rotateX(90deg) translateZ(100px); }
  .cube-bottom { transform: rotateX(-90deg) translateZ(100px); }