@import 'Main';

@media only screen and (max-width : 1000px) {
  .Home {
    margin: 0 auto;
    width: 100%;

    .HomeWrapper {
      margin: 0px auto;
    }
  }



  .logo-name{
    font-size: 20px !important;
  }

   .mobile-nav-container{
  display: block;
}

  .nav-bar {
    
    display: none !important;
    a{
      .nav-label{
        font-size: 12px;
      }
      .nav-label-text{
      font-size: 18px;
    }
    }
  }

  .hero-wrapper{
    margin-top: 0px;
  }
    .hero-title{

    margin-top: 40px;
  }
  

  .screen-real-container{
    .view-real {
    position: absolute;
    top: 7%;
    width: 100%;
    max-width: 300px;
    min-width: 400px;
  }
  }

  .all-real-container{
    .project-container {
    margin: 40px auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  }
  .modal-overlay{
    .modal-content {
    background: white;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  }
  
  
  

  .background-illustration {
    display: none;
    visibility: hidden;
  }

  .all-real-container{
    flex-direction: column;
    .screen-pc {
    width: 471px;
    max-width: 450px;
    height: 400px;
    position: relative;
  }

}


.bio-container {
  flex-direction: column;
}


.form-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imprim-container{
  .imprim-form {
    max-width: 300px;
    height: 150px; /* Ajustez la hauteur automatiquement pour conserver les proportions */
  }

  .bloc-container {
    width: 100%;
    max-width: 300px;
    height: 300px; /* Ajustez la hauteur automatiquement pour conserver les proportions */
    top: 100px; /* Ajustez la position en conséquence */
  }

  .text-imprim {
    top: -200px; /* Ajustez la position en conséquence */
    left: 27%;
    height: 170px;
    width: 150px;
    p{
      font-size: 16px;
      width: 100px;
    }
  }
}

form{
  margin-top: 100px;
}
}



@media only screen and (max-width : 576px) {
  .Home {
    margin: 0 auto;
    width: 100%;
  }

  .HomeWrapper {
    width: 100%;
  }

  /**/
  header {

    .logo-name{
      font-size: 20px !important;
    }

     .mobile-nav-container{
    display: block;
  }

    .nav-bar {
      
      display: none !important;
      a{
        .nav-label{
          font-size: 12px;
        }
        .nav-label-text{
        font-size: 18px;
      }
      }
    }
  }
 
  


  /**/

 .hero-wrapper{
  height: 650px;
  margin-top: 50px ;
 }
    

  .background-illustration{
    display: none;
    visibility: hidden;
  }


  .hero-title{
    margin-top: 50px;

     .hero-text {
      font-size: 18px ;
      text-align: center; }

    h1{
    font-size: 36px;
  }
  .horloge-container{
    margin: 10px;
p{
    font-size: 18px;
  }
  }
  
  
}
  
  .title-first {
    p{
      font-size: 18px;
    }
  }
  

  /**/
  .bio-container{
    flex-direction: column;
  }

  .profil-photo {
    width: 100%;
    max-width: 250px;
  }
  .bio-text {
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 20px;
  }

  .bio-text input[type="text"] {
    width: calc(100% - 120px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    display: inline-block;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
  .form-group label {
    display: flex;
    margin-right: 24px;
    min-width:150px ;
  }
  .first-container {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  /**/
  .allmap-container{
    flex-direction: column;
  }
  .map-container-button{
    button{
      img{
        width: 50px;
      }
    }
  }

  /**/
  .all-real-container{
    flex-direction: column;
    .screen-pc {
    width: 100%;
    max-width: 450px;
    height: auto;
    position: relative;
  }
  .project-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;
  }
  }
  .screen-real-container{
    .view-real {
    position: absolute;
    top: 7%;
    width: 90%;
    max-width: 400px;
    min-width: 200px;
    
  }
  }
  

  /*Contact*/

  .form-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
 
} 

 
