.star-container {
    position: absolute;
    width: 100%;
    max-width: 2000px;
    height: 70%;
    z-index: 1;
 bottom: 30%;
 overflow: hidden;
  }
  
  .star {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 2s infinite;
  }
  .star-icon {
    color: white; 
    font-size:0.3em;
  }

  @keyframes twinkle {
    0%, 100% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

.star-icon2{
  font-size: 0.8em;
  color: azure;
  
}
 .star-falling {
  position: relative;
  animation: fallingStar 5s linear infinite;
}

.star-falling::before {
    content: '';
    position: absolute;
    top: -15px; 
    left: -100px; 
    width: 100px; 
    height: 2px; 
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    opacity: 0.4; 
    transform: rotate(-155deg); 
  }
  
  @keyframes fallingStar {
    0% {
      opacity: 1;
      transform: translateY(-100%) translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateY(100vh) translateX(100vw);
    }
  }
  