.sun-container {
    position: absolute;
    top: 10%;
    left: 45%;
    transform-origin: center center; 
    animation: Rotate 8s linear infinite;
    animation-delay: 0s; }

  .sun-icon{
    font-size: 5em;
    color: gold;
    position: relative;
  }

  @keyframes Rotate {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50%{
      transform:  translateY(50px) rotate(180deg);
    }
    100% {
      transform: translateY(0px) rotate(360deg);
    }
  }